<div class="title">
    <h1>Join a game as a player now, or have a game run for you and a group of friends!</h1>
    <p>Join the discord community to discuss the system and currently running games,
        or contact us directly at <a target="_blank" href="mailto:vgtimis133@gmail.com">vgtimis133@gmail.com</a>.</p>
</div>
<div class="content">
    <div class="social">
        <a mat-icon-button color="primary" target="_blank"
            href="https://discord.com/channels/567897304908955649/1021927716750098482">
            <i class="fa-brands fa-discord"></i>
        </a>
        <a mat-icon-button color="primary" target="_blank" href="mailto:vgtimis133@gmail.com">
            <i class="fa-solid fa-envelope"></i>
        </a>
    </div>
    <p>To join or organize a game, 
        and for pricing info contact <a target="_blank" href="mailto:vgtimis133@gmail.com">vgtimis133@gmail.com</a></p>
    <div class="discord-widget">
        <iframe src="https://discord.com/widget?id=567897304908955649&theme=dark" width="350" height="500" 
        allowtransparency="true" frameborder="0" 
        sandbox="allow-popups allow-popups-to-escape-sandbox allow-same-origin allow-scripts"></iframe>
    </div>
</div>