#mainHeader {}

#mainHeader a {}

#mainHeader nav {
    justify-content: space-around;
    align-items: center;
    display: flex;
    margin: 0 20%;
}

nav a {
    color: #b99449;
    font-size: 1.6em;
    text-decoration: none;
    font-weight: 600;
    font-family: EBGaramond;
}

nav a:hover {
    text-decoration: underline;
}

nav a:active {
    text-decoration: underline;
}

#mainLogo {
    height: 64px;
}

.hexagon {
    top: 30vh;
    left: 40%;
    position: absolute;
    margin: 0 auto;

    /*To Add effect on the background*/
    background: linear-gradient(to bottom,
            transparent, #b99449);
    border-radius: 10px;
    width: 100px;
    height: 63px;
    box-sizing: border-box;
    /* transition: all 1s; */
    border: 0.4vh solid transparent;
    border-top-color: #b99449;
    border-bottom-color: #b99449;
}

/*To create pseudo-class */
.hexagon:before {
    content: "";
    border: inherit;
    position: absolute;
    top: -0.5vh;
    left: -0.5vh;

    /*To Add effect on the background*/
    background: linear-gradient(to left, #b99449, transparent);
    border-radius: inherit;
    height: 100%;
    width: 100%;
}

.hexagon:after {
    content: "";
    border: inherit;
    position: absolute;
    top: -0.5vh;
    left: -0.5vh;

    /*To Add effect on the background*/
    background: linear-gradient(to left, transparent, #b99449);
    border-radius: inherit;
    height: 100%;
    width: 100%;
}

/* Align them in such a way
that they form a hexagon */
.hexagon:before {
    transform: rotate(60deg);
}

.hexagon:after {
    transform: rotate(-60deg);
}