#mainHeader {}

/* border-bottom: 1.5px solid #b99933; */
#mainHeader a {
    padding: 0 8px;
}

#mainHeader nav {
    justify-content: space-around;
    align-items: center;
    text-align: center;
    display: flex;
    flex-direction: row;
    margin: 0 20%;
}

header,
header nav {
    height: inherit;
}

nav a {
    background-color: #b99933;
    /* background-image: linear-gradient(45deg, #b99933, #cb8c34, #cf7030); */
    background-size: 100%;
    background-clip: text;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-text-fill-color: transparent;
    font-size: 1.6em;
    text-decoration: none;
    font-weight: 600;
    font-family: EBGaramond;
    border-bottom: 1.5px solid transparent;
}

.nav-link:hover,
.nav-link.active {
    border-bottom: 1.5px solid var(--gold);
    background-image: linear-gradient(45deg, #cb8c34, #cb8c34, #cf7030);
}

#mainLogo {
    height: 90px;
    background-image: radial-gradient(black 40%, transparent 50%);
    margin-top: 25px;
    border: none;
    margin-left: 30px;
}