<header id="mainHeader">
    <nav>
        <a routerLink="/info" routerLinkActive="active" class="nav-link">Info</a>
        <a routerLink="/play" routerLinkActive="active" class="nav-link">Play</a>
        <a routerLink="">
            <img id="mainLogo" src="assets/images/logos/SoulsD20 LOGO Color.png">
        </a>
        <a routerLink="/support" routerLinkActive="active" class="nav-link">Support</a>
        <a routerLink="/contact" routerLinkActive="active" class="nav-link">Contact</a>
    </nav>
</header>