<div class="content">
    <h2 class="pageHeader">Donations will help fund more great art and any further design for the book!</h2>
    <h3 class="pageIntro">Look forward to more content like book materials, a monster manual, 
        a patreon with exclusive rewards and more!</h3>
        <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/b/b5/PayPal.svg/1200px-PayPal.svg.png">
    <p>Bio bio bio bio bio? Bio bio bio bio bio? Bio bio bio bio bio?
        Bio bio bio bio bio? Bio bio bio bio bio? Bio bio bio bio bio? Yes... BIO!</p>
</div>