.title p {
    margin: 20px auto;
    max-width: 750px;
    text-align: center;
}
.paypal {
    display: flex;
    justify-content: center;
    text-align: center;
}

.donations {
    max-width: 500px;
}

img {
    width: 300px;
    height: fit-content;
}