<div class="title">
    <!-- <img id="mainTitle" src="/assets/images/logos/SoulsD20 Title Color.png"> -->
</div>

<div class="content">
    <div class="cards">
        <img src="/assets/images/artwork/Twinblade F WEB.png">
        <div class="lefty">
            <h3>Kill your friends!</h3>
            <p>A full-system table top roll playing experience inspired by the Elden Ring and Soulsborne games</p>
        </div>
    </div>
    <div class="cards">
        <div class="righty">
            <h3>Kill your friends!</h3>
            <p>like the games it is inspired by, Souls d20 encourages gameplay where players learn the behavior
                of adversaries over the course of fights in order to dodge out of the way of attacks and counter
                with their own attacks and skills.</p>
        </div>
        <img src="/assets/images/maps/DS 600 A.C.W (Cormia, Zoomed).jpg">
    </div>
    <div class="cards">
        <img src="/assets/images/artwork/WPNProfs_Page1.png">
        <div class="lefty">
            <h3>Kill your friends!</h3>
            <p>Capture the feeling of building your character into a unique class of your own creation.
                As players level up, they invest into weapon "proficiency trees" based on 21 weapon types.
                Mixing and synergizing the abilities and skills gained from any number of the different trees
                as they level.</p>
        </div>
    </div>
    <div class="cards">
        <div class="righty">
            <h3>Kill your friends!</h3>
            <p>So many regrets to have!</p>
        </div>
        <img src="/assets/images/artwork/Hex F WEB.png">
    </div>
</div>