.title {
    height: 200px;
    background-position: 50% 60px;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: 800px;
    background-image: url("https://j-watt.github.io/souls-d20/assets/images/logos/SoulsD20 Title Color.png");
    margin: 0;
}
.container {
    padding: 0;
}
.content {
    border-top: 1.5px solid var(--gold);
    padding-top: 50px;
}
#mainTitle {
    width: 100%;
}
.cards {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-bottom: 20px;
}
.cards img {
    width: 320px;
    height: 320px;
    border: 1.5px solid #b99449;
    border-radius: 3px;
}

.cards img::after {
    border: 1.5px solid #b99449;
    border-radius: 3px;
    bottom: 0;
    content: "";
    display: inline-block;
    left: 0;
    margin: 5px;
    position: absolute;
    right: 0;
    top: 0;
}


.content .cards div {
    margin: 50px 100px;
    width: 500px;
}
.cards h3 {
    color: #b99449;
}
.cards p {
    color: whitesmoke;
}