.title {
    height: 200px;
    background-position: 50% 60px;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: 800px;
    background-image: url("https://j-watt.github.io/souls-d20/assets/images/logos/SoulsD20 Title Color.png");
    margin: 0;
}

.container {
    padding: 0;
}

.content {
    border-top: 1.5px solid var(--gold);
    padding-top: 16px;
}

#mainTitle {
    width: 100%;
}


.campaign {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 10px 0;
}

@media only screen and (min-width: 768px) {
    .campaign {
        flex-direction: row;
    }
}

.campaign img {
    height: 320px;
    border: 1.5px solid #b99449;
    border-radius: 3px;
    margin-left: 10px;
}

.campaign span {
    margin-left: 60px;
}

.campaign p {
    font-size: 1rem;
    max-width: 500px;
}

.campaign h3 {
    max-width: 500px;
}

mat-tab-group {
    margin: 30px auto 100px auto;
}

.section {
    height: 300px;
    background-color: #86452f;
    background-repeat: no-repeat;
    background-size: cover;
    position: absolute;
    left: 0;
    right: 0;
}

.section-content {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.cards {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-bottom: 20px;
}

.cards img {
    width: 320px;
    height: 320px;
    border: 1.5px solid #b99449;
    border-radius: 3px;
}

.cards img::after {
    border: 1.5px solid #b99449;
    border-radius: 3px;
    bottom: 0;
    content: "";
    display: inline-block;
    left: 0;
    margin: 5px;
    position: absolute;
    right: 0;
    top: 0;
}


.content .cards div {
    margin: 50px 100px;
    width: 500px;
}

.cards h3 {
    color: #b99449;
}

.cards p {
    color: whitesmoke;
}