<div class="title">
    <h1 class="pageHeader">Contact us at <a href="mailto:vgtimis133@gmail.com">vgtimis133@gmail.com</a>
        for any questions and inquiries.
    </h1>
    <div class="social">
        <a mat-icon-button color="primary" target="_blank" href="https://discord.gg/UnEKqTx">
            <i class="fa-brands fa-discord"></i>
        </a>
        <a mat-icon-button color="primary" href="mailto:vgtimis133@gmail.com">
            <i class="fa-solid fa-envelope"></i>
        </a>
    </div>
</div>
<div class="content">
    <div class="discord">
        <p>Join the discord to stay up to date on the system, games that are being run,
            and the community.</p>
        <div class="discord-widget">
            <iframe src="https://discord.com/widget?id=567897304908955649&theme=dark" width="350" height="500"
                allowtransparency="true" frameborder="0"
                sandbox="allow-popups allow-popups-to-escape-sandbox allow-same-origin allow-scripts"></iframe>
        </div>
    </div>
</div>