.pageIntro {
    color: var(--gold);
    width: 50%;
    text-align: center;
    margin: 20px auto 100px auto;
}
.cards {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-bottom: 20px;
}
.cards img {
    width: 620px;
}
.cards img {
    border: 1.5px solid #b99449;
    border-radius: 3px;
}
.cards img::after {
    border: 1.5px solid #b99449;
    border-radius: 3px;
    bottom: 0;
    content: "";
    display: inline-block;
    left: 0;
    margin: 5px;
    position: absolute;
    right: 0;
    top: 0;
}

.content .cards div {
    margin: 50px 100px;
    width: 500px;
}
.cards h3 {
    color: var(--gold);
}
.cards p {
    color: var(--white);
}
.cards a {
    text-decoration: none;
}