<div class="content">
    <h3 class="pageIntro">The full book includes over 170 pages of resources, such as spells lists, equipment
        and weapons lists, skill and ability trees, quick guides for leveling and building a character!</h3>
    <div class="cards">
        <img (click)="openModal(0, 0)" src="/assets/images/artwork/WPNProfs_Page1.png">
        <div class="lefty">
            <h3>Customized Builds</h3>
            <p>21 unique trees to mix and match abilities and synergies from!</p>
        </div>
    </div>
    <div class="cards">
        <div class="righty">
            <h3>Exactly 7,582,433 spells to choose from!</h3>
            <p>Wide range of spells from different types of magic to enhance both combat & roleplaying!
                Spells easily synergize with feats allowing for unique and tactical combinations, as well
                each spell comes with versatility through "charged spells"!
            </p>
        </div>
        <img src="/assets/images/artwork/Spells_Page1.png">
    </div>
    <div class="cards">
        <img src="/assets/images/artwork/WPNSkills_Page1.png">
        <div class="lefty">
            <h3>Learn combat skills from weapons!</h3>
            <p>Why let spellcasters have all the fun? Fuck em. Create your own spell list but with skills?</p>
        </div>
    </div>
    <div class="cards">
        <div class="righty">
            <h3>Check out the system preview!</h3>
            <p>Take a peak inside the system with the available preview!
                Souls D20 is regularly updated and playtested. To get the latest, full version please checkout
                our discord and get in <a routerLink="/contact">contact!</a></p>
            <a mat-raised-button color="primary" href="/assets/download/preview/Souls_D20_Rules_3.0.2_Preview.pdf"
                download>Download Preview</a>
        </div>
        <a href="/assets/download/preview/Souls_D20_Rules_3.0.2_Preview.pdf" download>
            <img src="/assets/images/artwork/SoulsD20 Cover FINAL 72dpi.png">
        </a>
    </div>
</div>