
// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@use '@angular/material' as mat;
// Plus imports for other components in your app.

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat.core();

$gold-palette: (
 50: #fffae7,
 100: #fef2c4,
 200: #fceb9e,
 300: #f9e379,
 400: #f6dc5d,
 500: #f3d743,
 600: #e2c53e,
 700: #ceb038,
 800: #b99a33,
 900: #96752a,
 contrast: (
   50: rgba(black, 0.87),
   100: rgba(black, 0.87),
   200: rgba(black, 0.87),
   300: white,
   400: white,
   500: white,
   600: white,
   700: white,
   800: white,
   900: white,
 )
);

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/
$souls-d20-primary: mat.define-palette($gold-palette);
$souls-d20-accent: mat.define-palette(mat.$pink-palette, A200, A100, A400);

// The warn palette is optional (defaults to red).
$souls-d20-warn: mat.define-palette(mat.$red-palette);

// Create the theme object. A theme consists of configurations for individual
// theming systems such as "color" or "typography".
$souls-d20-theme: mat.define-light-theme((
  color: (
    primary: $souls-d20-primary,
    accent: $souls-d20-accent,
    warn: $souls-d20-warn,
  )
));

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include mat.all-component-themes($souls-d20-theme);

