:root {
    --white: #F0F0F0;
    --black: #202020;
    --gold: #b99933;
    --red: #B95633;
}

@font-face {
    font-family: "EBGaramond";
    src: url("/assets/fonts/EBGaramond-SemiBold.ttf");
    src: url("/assets/fonts/ebgaramond-semibold-webfont.woff2") format("woff2"),
        url("/souls-d20/assets/fonts/ebgaramond-semibold-webfont.woff2") format("woff2"),
        url("/assets/fonts/ebgaramond-semibold-webfont.woff") format("woff");
}

@font-face {
    font-family: "Mantinia";
    src: url("/assets/fonts/mantinia-regular.otf");
    src: url("/assets/fonts/mantinia-regular-webfont.woff2") format("woff2"),
        url("/assets/fonts/mantinia-regular-webfont.woff") format("woff");
}

html,
body {
    height: 100%;
}

body {
    margin: 0;
    font-family: EBGaramond, Mantinia;
    background-image: linear-gradient(to right, #102027, var(--black));
    background-repeat: repeat-y;
}

h1 {
    color: var(--gold);
    text-align: center;
    font-size: 2.25em;
}

h2 {
    color: var(--gold);
    text-align: center;
    font-size: 2em;
}

h3 {
    color: var(--gold);
    font-size: 1.75em;
}

a {
    color: var(--gold);
    text-decoration: none;
}

p {
    color: var(--white);
    font-size: 1.5em;
    margin-top: 20px;
    margin-bottom: 20px;
}

.container {
    margin: auto 20px 200px 20px;
}

@media only screen and (min-width: 600px) {
    .container {
        margin: auto 100px 200px 100px;
    }
}

.title {
    margin-bottom: 100px;
    padding-top: 100px;
}

.title h1 {
    color: var(--gold);
    max-width: 850px;
    text-align: center;
    margin: auto auto 0.5em auto;
}

.title p {
    max-width: 600px;
    text-align: center;
    margin: auto auto 0.5em auto;
}

.content {
    display: flex;
    flex-direction: column;
}

.mdc-tab__text-label {
    color: var(--gold) !important;
}